/* color: rgb(50, 0, 255);
color: rgba(0, 0, 56, 0.8);
border-top: 0.1rem solid #dadfe4;
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5eb;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem;
}